.card{
    display: grid;
    grid-template-rows: 25rem 5rem 10rem 10rem;

    height: 2rem;

    
    transition: 0.5s ease;
    cursor: pointer;
    margin:3.0rem;

    border-radius: 2rem;
}

.card:hover {
    transform: scale(1.15);
    /* box-shadow: .5rem .5rem 1.5rem rgba(0, 119, 205, 0.6); */
    /* border: 0.1rem solid white; */
  }

.card-image{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-size: cover !important;
    /* background-position: 0.1rem !important; */
}

.card-foot{
    background-color: #d0d3d6;
    border-bottom-left-radius: 1.8rem;
    border-bottom-right-radius: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    
}

.card-foot a{
    transition: 0.5s ease;
    text-decoration: none;
    color: black !important;
}

.card-foot a:hover{
    transform: scale(1.3);
}