.card{
    display: grid;
    grid-template-rows: 10rem 5rem 10rem 10rem;

    height: 50rem;

    
    transition: 0.5s ease;
    cursor: pointer;
    margin:3.0rem;

    border-radius: 2rem;
}

.card:hover {
    transform: scale(1.15);
    /* box-shadow: .5rem .5rem 1.5rem rgba(0, 119, 205, 0.6); */
    /* border: 0.1rem solid white; */
  }

.card-image{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-size: cover !important;
    /* background-position: 0.1rem !important; */
}

